<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
<div th:fragment="search-result" th:unless="${#lists.isEmpty(cards)}" id="result-block" class="table-responsive no-padding">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Mana Cost</th>
            <th>Type</th>
            <th>Set</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${cards}">
            <td th:text="${card.name}">name</td>
            <td th:text="${card.manaCost}">manaCost</td>
            <td th:text="${card.type}">type</td>
            <td th:text="${card.set}">set</td>
            <td>
                <form id="add-card-to-deck-form">
                    <input type="text" id="card-id" th:value="${card.id}">
                    <input type="text" id="mtg-id" th:value="${card.mtgId}">
                </form>
            </td>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>
