<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<!-- Header content -->
<th:block layout:fragment="content-header">
    <h1 th:text="${deck.name}">
        Deck
        <!--small>All decks</small-->
    </h1>
    <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol-->
</th:block>

<!-- Main content -->
<th:block layout:fragment="content-body">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <!--h3 class="box-title">Decklist</h3-->

                    <form id="search-form">
                        <div class="input-group">
                            <input type="text" id="card-name" class="form-control" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" id="btn-search" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div id="card-placeholder" th:fragment="card-placeholder" />

                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</th:block>

<th:block layout:fragment="script">
    <script type="application/javascript">
        $(document).ready(function () {

            $("#search-form").submit(function (event) {

                //stop submit the form, we will post it manually.
                event.preventDefault();

                fire_ajax_submit();

            });

        });

        function fire_ajax_submit() {

            var search = {}
            search["name"] = $("#card-name").val();

            $("#btn-search").prop("disabled", true);

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/cards/search",
                data: JSON.stringify(search),
                cache: false,
                timeout: 600000,
                success: function (data) {
                    console.log("SUCCESS : ", data);

                    $("#card-placeholder").html(data);
                    $("#btn-search").prop("disabled", false);
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                    $("#btn-search").prop("disabled", false);

                }
            });

        }

    </script>
</th:block>
</body>
</html>

