<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<!-- Header content -->
<th:block layout:fragment="content-header">
    <h1>
        Home
        <small>Hello, World!</small>
    </h1>
    <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol-->
</th:block>

<!-- Main content -->
<th:block layout:fragment="content-body">
    Hello, World!
</th:block>
</body>
</html>

