<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Articles</title>
</head>
<body>
<section>
  <div id="jsGrid"></div>


  <table id="articles">
    <thead>
    <th>Name</th>
    <th>Price</th>
    </thead>
    <tbody data-th-each="article : ${articles}">
    <tr>
      <td th:text="${article.product.name}">...</td>
      <td th:text="${article.latestPrice}">...</td>
    </tr>
    </tbody>
  </table>

  <script>
    $(function() {

    $("#jsGrid").jsGrid({
        height: "auto",
        width: "100%",

        sorting: true,
        paging: true,
        autoload: true,

        controller: {
            loadData: function(filter) {
                var d = $.Deferred();
                $.ajax({
                    url: "/rest/articles/all",
                    dataType: "json",
                    data: filter
                }).done(function(response) {
                    d.resolve(response.value);
                });
                return d.promise();
            }
        },

        fields: [
            { name: "id", title: "Bingo", type: "text" },
            { name: "id", title: "Latest Price", type: "number", width: 50,
                itemTemplate: function(value) {
                    return value.toFixed(2) + "$"; }
            }
        ]
    });

});


  </script>
</section>
</body>
</html>
